name: Newai Prime Final Build
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Flet
        run: pip install flet
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Build APK
        run: |
          yes y | flet build apk --project "NewaiPrime" --product "Newai Prime" --package-name "com.sametcan88.newai"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Newai-Prime-APK
          path: build/apk/*.apk
